In [ ]:
!pip install -r requirements.txt

In [1]:
from source.bloomberg import BBHelper

import pandas as pd
from xbbg import blp

In [3]:
bb_helper = BBHelper(
    region='Asia',
    field='ENERGY_CONSUMPTION', 
    cell_limit_per_request=1_000,
    sleep_duration=60)
# bb_helper.extract()

=======================================
Region: Asia
Cell limit per request: 1000
Ticker limit per request: 76
Tickers retrieved: 0/3000
Batches: 40
Time periods: 13
=======================================

In [5]:
df = pd.read_parquet("assets\Bloomberg\GHG_SCOPE_1\OTHERS.parquet")
df

                tic    datadate  GHG_SCOPE_1
29    DUK US Equity  2011-12-31   143835.000
57    DUK US Equity  2012-12-31   135939.000
91    DUK US Equity  2013-12-31   124472.000
119   DUK US Equity  2014-12-31   125893.000
151   DUK US Equity  2015-12-31   101131.000
..              ...         ...          ...
23      J US Equity  2022-10-01       14.754
10   TEAM US Equity  2019-06-30        0.119
14   TEAM US Equity  2020-06-30        0.275
19   TEAM US Equity  2021-06-30        0.041
22   TEAM US Equity  2022-06-30        0.364

[9291 rows x 3 columns]

In [4]:
df['tic'].unique()

array(['1COV GR Equity', '1U1 GR Equity', '888 LN Equity', ...,
       'ZURN SW Equity', 'ZVTG SV Equity', 'ZWC PW Equity'], dtype=object)

In [3]:
# tickers = ['DUK US Equity']
tickers = ['66 HK Equity']

out = blp.bdh(
    tickers=tickers, 
    flds=['GHG_SCOPE_1'],
    start_date='2010-01-01',
    end_date='2023-01-01',
    Per='Y',
    Fill="NA")

out

Empty DataFrame
Columns: []
Index: []