In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"assets\Eikon\asia_data.csv", low_memory=False)
df

,Instrument,TotAssets.Date,Price Close.Date,MktCap.Date,CompanySharesOutstanding.Date,Company Name,Company Shares,Country of Incorporation,Country of Exchange,Country of Headquarters,...,Net Cash Flow from Operating Activities,Income Taxes - Payable - Short-Term,Trade Account Payables - Total,Advertising Expense,Labor & Related Expenses - Total,Dividend Per Share - Actual,"EPS - Basic - excl Extraordinary Items, Common - Total",CO2 Estimation Method,Estimated CO2 Equivalents Emission Total,Currency Code
0,UNIB.XA,NaN,NaN,NaN,NaN,Unibank OJSC,NaN,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HEZB.XA,NaN,NaN,NaN,NaN,Hayastani ekonomikayi zargatsman bank BBE,NaN,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AHEK.XA,NaN,NaN,NaN,NaN,Artsakh HEK BBE,NaN,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ESHG.XA,NaN,NaN,NaN,NaN,Yerevan Champagne Wines Factory OJSC,NaN,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EVG1.XA,NaN,NaN,NaN,NaN,Yerevan Jewellery Plant 1 Gnomon OJSC,NaN,Armenia,Armenia,Armenia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786124,IJC.HM,2001-12-31T00:00:00Z,NaN,2001-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786125,IJC.HM,2000-12-31T00:00:00Z,NaN,2000-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786126,IJC.HM,1999-12-31T00:00:00Z,NaN,1999-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786127,IJC.HM,1998-12-31T00:00:00Z,NaN,1998-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
786128,IJC.HM,1997-12-31T00:00:00Z,NaN,1997-12-31T00:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN