In [7]:
import glob
import pandas as pd

no_date_fields = [
    "TR.GICSINDUSTRY",
    "TR.HEADQUARTERSCOUNTRY",
    "TR.SICINDUSTRY",
    "TR.COMPANYREPORTCURRENCY",
    "TR.SICINDUSTRYCODE",
    "TR.SICINDUSTRYGROUPCODE",
    "TR.GICSSUBINDUSTRYCODE",
    "ISIN_CODE",
    "TR.GICSSECTORCODE",
    "TR.GICSINDUSTRYGROUP",
    "TR.EXCHANGECOUNTRY",
    "TR.COMPANYNAME",
    "TR.GICSINDUSTRYCODE",
    "TR.INSTRUMENTTYPE",
    "TR.GICSSECTOR",
    "TR.SICINDUSTRYGROUP",
    "TR.ISINCODE",
    "TR.GICSSUBINDUSTRY",
    "TR.TICKERSYMBOL",
    "TR.CUSIPCODE",
    "TR.REGISTRATIONCOUNTRY",
    "TR.GICSINDUSTRYGROUPCODE"
]

In [16]:
paths = glob.glob("assets/Eikon/*.csv")
df = pd.read_csv(paths[0])
df[no_date_fields] = df[no_date_fields].ffill()

for field in [c for c in df.columns if c.endswith(".DATE")]:
    df[field] = pd.to_datetime(df[field], format=r"%Y-%m-%dT%H:%M:%SZ")

df

,Instrument,TR.GICSINDUSTRY,TR.POLICYSUSTAINABLEPACKAGING,TR.CO2EMISSIONTOTAL,TR.PMREDUCTION,TR.F.COMEQPARENTSHHOLD,TR.HEADQUARTERSCOUNTRY,TR.ANALYTICRESOURCEREDPOLICY,TR.UPSTREAMSCOPE3TRANSPORTATIONANDDISTRIBUTION,TR.F.COGSUNCLASSIF,...,TR.VOCEMISSIONS.DATE,TR.COGSACTVALUE.DATE,TR.UPSTREAMSCOPE3LEASEDASSETS.DATE,TR.NOXEMISSIONS.DATE,TR.ANALYTICRENEWENERGYUSE.DATE,TR.F.DEFTAXINVSTTAXCREDITSLT.DATE,TR.VOCEMISSIONSREDUCTION.DATE,TR.DOWNSTREAMSCOPE3TRANSPORTATIONANDDISTRIBUTION.DATE,TR.ANALYTICWATERUSE.DATE,TR.SOXEMISSIONS.DATE
0,000140.KS,Beverages,NaN,NaN,NaN,5.556726e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2022-12-31,NaT,NaT,NaT,NaT
1,000140.KS,Beverages,NaN,NaN,NaN,5.116173e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2021-12-31,NaT,NaT,NaT,NaT
2,000140.KS,Beverages,NaN,NaN,NaN,4.905361e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2020-12-31,NaT,NaT,NaT,NaT
3,000140.KS,Beverages,NaN,NaN,NaN,4.332569e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2019-12-31,NaT,NaT,NaT,NaT
4,000140.KS,Beverages,NaN,NaN,NaN,4.818472e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2018-12-31,NaT,NaT,NaT,NaT
5,000140.KS,Beverages,NaN,NaN,NaN,4.949274e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2017-12-31,NaT,NaT,NaT,NaT
6,000140.KS,Beverages,NaN,NaN,NaN,5.289911e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2016-12-31,NaT,NaT,NaT,NaT
7,000140.KS,Beverages,NaN,NaN,NaN,4.929598e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2015-12-31,NaT,NaT,NaT,NaT
8,000140.KS,Beverages,NaN,NaN,NaN,4.770078e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2014-12-31,NaT,NaT,NaT,NaT
9,000140.KS,Beverages,NaN,NaN,NaN,5.807490e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2013-12-31,NaT,NaT,NaT,NaT
10,000140.KS,Beverages,NaN,NaN,NaN,6.953773e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2012-12-31,NaT,NaT,NaT,NaT
11,000140.KS,Beverages,NaN,NaN,NaN,6.996820e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2011-12-31,NaT,NaT,NaT,NaT
12,000140.KS,Beverages,NaN,NaN,NaN,6.789134e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2010-12-31,NaT,NaT,NaT,NaT
13,000140.KS,Beverages,NaN,NaN,NaN,6.845921e+05,Korea; Republic (S. Korea),NaN,NaN,1.000110e+06,...,NaT,NaT,NaT,NaT,NaT,2009-12-31,NaT,NaT,NaT,NaT
14,000140.KS,Beverages,NaN,NaN,NaN,6.707442e+05,Korea; Republic (S. Korea),NaN,NaN,5.589937e+05,...,NaT,NaT,NaT,NaT,NaT,2008-12-31,NaT,NaT,NaT,NaT
15,000140.KS,Beverages,NaN,NaN,NaN,1.294769e+06,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2007-12-31,NaT,NaT,NaT,NaT
16,000140.KS,Beverages,NaN,NaN,NaN,1.198703e+06,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2006-12-31,NaT,NaT,NaT,NaT
17,000140.KS,Beverages,NaN,NaN,NaN,9.063720e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2005-12-31,NaT,NaT,NaT,NaT
18,000140.KS,Beverages,NaN,NaN,NaN,8.924370e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2004-12-31,NaT,NaT,NaT,NaT
19,000140.KS,Beverages,NaN,NaN,NaN,8.283126e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2003-12-31,NaT,NaT,NaT,NaT
20,000140.KS,Beverages,NaN,NaN,NaN,7.818038e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2002-12-31,NaT,NaT,NaT,NaT
21,000140.KS,Beverages,NaN,NaN,NaN,6.716320e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2001-12-31,NaT,NaT,NaT,NaT
22,000140.KS,Beverages,NaN,NaN,NaN,5.834346e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,2000-12-31,NaT,NaT,NaT,NaT
23,000140.KS,Beverages,NaN,NaN,NaN,4.909893e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,1999-12-31,NaT,NaT,NaT,NaT
24,000140.KS,Beverages,NaN,NaN,NaN,3.652798e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,1998-12-31,NaT,NaT,NaT,NaT
25,000140.KS,Beverages,NaN,NaN,NaN,3.118731e+05,Korea; Republic (S. Korea),NaN,NaN,NaN,...,NaT,NaT,NaT,NaT,NaT,1997-12-31,NaT,NaT,NaT,NaT