In [1]:
import json

with open("assets/metadata/eikon_tickers.json") as f:
    instruments = json.load(f)

for region in instruments.keys():
    print(f"{region}: {len(instruments[region])}")

Asia: 30585
Africa: 1365
Americas: 16026
Europe: 12017
Oceania: 2198

In [93]:
import pandas as pd
import numpy as np

In [95]:
df = pd.read_parquet(r"assets\Eikon\asia_data.parquet")
# df = df.replace("", pd.NA)
# df['Company Name'] = df.groupby("Instrument")['Company Name'].ffill()
# df['fyear'] = pd.to_datetime(df['TotAssets.Date']).dt.year
df

,Instrument,Company Name,Country of Incorporation,Country of Exchange,Country of Headquarters,Instrument Type,ISIN,ISIN Code,ISIN_CODE,SEDOL,...,Trade Account Payables - Total,Advertising Expense,Labor & Related Expenses - Total,Dividend Per Share - Actual,"EPS - Basic - excl Extraordinary Items, Common - Total",TotAssets.Date,Price Close.Date,MktCap.Date,CompanySharesOutstanding.Date,Company Shares
0,UNIB.XA,Unibank OJSC,Armenia,Armenia,Armenia,Ordinary Shares,AMUNIBS10ER5,AMUNIBS10ER5,AMUNIBS10ER5,BGN4RK9,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,,,,<NA>
1,HEZB.XA,Hayastani ekonomikayi zargatsman bank BBE,Armenia,Armenia,Armenia,Ordinary Shares,AMHEZBS10ER5,AMHEZBS10ER5,AMHEZBS10ER5,B8DDY09,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,,None,,<NA>
2,AHEK.XA,Artsakh HEK BBE,Armenia,Armenia,Armenia,Ordinary Shares,,,00AHEKS10KR3,B84SH15,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,,None,,<NA>
3,ESHG.XA,Yerevan Champagne Wines Factory OJSC,Armenia,Armenia,Armenia,Ordinary Shares,AMESHGS10ER9,AMESHGS10ER9,AMESHGS10ER9,B81T3D5,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,,None,,<NA>
4,EVG1.XA,Yerevan Jewellery Plant 1 Gnomon OJSC,Armenia,Armenia,Armenia,Ordinary Shares,AMYJGNS10ER4,AMYJGNS10ER4,AMYJGNS10ER4,B7TR0M2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,,None,,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472155,1976.T,,,,,,,,,<NA>,...,4690000000.0,<NA>,2255000000.0,0.0,<NA>,2001-03-31T00:00:00Z,2001-12-28T00:00:00Z,2001-03-31T00:00:00Z,2001-12-28T00:00:00Z,59986000
472156,1976.T,,,,,,,,,<NA>,...,6906000000.0,<NA>,2449000000.0,0.0,<NA>,2000-03-31T00:00:00Z,2000-12-29T00:00:00Z,2000-03-31T00:00:00Z,2000-12-29T00:00:00Z,59986000
472157,1976.T,,,,,,,,,<NA>,...,7503000000.0,<NA>,2633000000.0,5.0,<NA>,1999-03-31T00:00:00Z,1999-12-30T00:00:00Z,1999-03-31T00:00:00Z,1999-12-30T00:00:00Z,59986000
472158,1976.T,,,,,,,,,<NA>,...,8278000000.0,<NA>,2929000000.0,5.0,<NA>,1998-03-31T00:00:00Z,1998-12-30T00:00:00Z,1998-03-31T00:00:00Z,1998-12-30T00:00:00Z,59986000
472159,1976.T,,,,,,,,,<NA>,...,8958000000.0,<NA>,2935000000.0,5.0,<NA>,1997-03-31T00:00:00Z,1997-12-30T00:00:00Z,1997-03-31T00:00:00Z,1997-12-30T00:00:00Z,59987000

In [88]:
df[['Price Close', 'Price Close.Date', 'Company Shares ', 'CompanySharesOutstanding.Date', 'Market Capitalization', 'MktCap.Date']].dropna()

,Price Close,Price Close.Date,Company Shares,CompanySharesOutstanding.Date,Market Capitalization,MktCap.Date
0,<NA>,,2200000.0,2022-12-30T00:00:00Z,660000000.0,2022-03-31T00:00:00Z
1,<NA>,,2200000.0,2021-12-30T00:00:00Z,550000000.0,2021-03-31T00:00:00Z
2,<NA>,,2200000.0,2020-12-30T00:00:00Z,286000000.0,2020-03-31T00:00:00Z
3,<NA>,,2200000.0,2019-12-30T00:00:00Z,118800000.0,2019-03-31T00:00:00Z
4,<NA>,,2200000.0,2018-12-28T00:00:00Z,59400000.0,2018-03-31T00:00:00Z
...,...,...,...,...,...,...
355393,3.7,2010-12-31T00:00:00Z,3543547.0,2010-12-31T00:00:00Z,15382592.1,2010-09-30T00:00:00Z
355394,3.66,2009-12-31T00:00:00Z,3587925.0,2009-12-31T00:00:00Z,12851328.0228,2009-09-30T00:00:00Z
355395,2.97,2008-12-31T00:00:00Z,3749258.0,2008-12-31T00:00:00Z,19800317.52,2008-09-30T00:00:00Z
355396,6.67,2007-12-31T00:00:00Z,3783295.0,2007-12-31T00:00:00Z,29492083.48,2007-09-30T00:00:00Z
355397,8.18,2006-12-29T00:00:00Z,3686722.0,2006-12-29T00:00:00Z,32015493.848,2006-09-30T00:00:00Z

In [89]:
3.7*3543547

13111123.9

In [79]:
df.groupby('fyear')['Instrument'].count().sort_index().to_frame().tail(50)

        Instrument
fyear
1974.0          59
1975.0          82
1976.0         105
1977.0         129
1978.0         147
1979.0         174
1980.0         199
1981.0         258
1982.0         350
1983.0         425
1984.0         503
1985.0         613
1986.0         721
1987.0         885
1988.0        1013
1989.0        1138
1990.0        1232
1991.0        1329
1992.0        1411
1993.0        1516
1994.0        1596
1995.0        1765
1996.0        4891
1997.0       10068
1998.0       10128
1999.0       10138
2000.0       10158
2001.0       10095
2002.0       10069
2003.0       10021
2004.0       10019
2005.0       10041
2006.0        9991
2007.0        9918
2008.0        9793
2009.0        9732
2010.0        9678
2011.0        9607
2012.0        9472
2013.0        9291
2014.0        9123
2015.0        9018
2016.0        8994
2017.0        8870
2018.0        8761
2019.0        8655
2020.0        8506
2021.0        8408
2022.0        5320
2023.0          79

In [27]:
df.isna().sum().sort_values().to_frame().tail(50)

                                                        0
Dividend Per Share - Actual                         30864
Equity Earnings/(Loss) before Taxes including N...  32949
Extraordinary Activities - after Tax - Gain/(Loss)  33429
ISIN                                                33476
Advertising Expense                                 33496
SEDOL                                               33731
Instrument Type                                     34000
Country of Exchange                                 34001
Country of Headquarters                             34004
ISIN Code                                           34025
Cost Of Goods Sold - Actual                         34070
Country of Incorporation                            34086
GICS Sector Code                                    34255
GICS Industry Group Name                            34255
GICS Sub-Industry Name                              34255
GICS Sector Name                                    34255
GICS Sub-Industry Code                              34255
GICS Industry Name                                  34255
GICS Industry Code                                  34255
GICS Industry Group Code                            34255
ISIN_CODE                                           34318
CO2 Equivalent Emissions Indirect, Scope 2          34402
CO2 Equivalent Emissions Direct, Scope 1            34407
Preferred Shareholders Equity                       34765
Research & Development Expense                      35028
Dividends - Preferred - Cash Paid                   35094
Upstream scope 3 emissions Business Travel          35288
Upstream scope 3 emissions Waste Generated in O...  35297
Preferred Stock - Redeemable - Total                35303
Upstream scope 3 emissions Fuel- and Energy-rel...  35307
Upstream scope 3 emissions Employee Commuting       35308
Upstream scope 3 emissions Purchased goods and ...  35310
Upstream scope 3 emissions Transportation and D...  35322
Downstream scope 3 emissions Transportation and...  35345
Upstream scope 3 emissions Capital goods            35346
Upstream scope 3 emissions Other                    35348
Downstream scope 3 emissions Investments            35354
Downstream scope 3 emissions Processing of Sold...  35355
Upstream scope 3 emissions Leased Assets            35356
Downstream scope 3 emissions Leased Assets          35357
Downstream scope 3 emissions End-of-life Treatm...  35358
Downstream scope 3 emissions Franchises             35359
Downstream scope 3 emissions Use of Sold Products   35360
SIC Industry Group Code                             35363
Downstream scope 3 emissions Other                  35363
SIC Industry Name                                   35363
SIC Industry Code                                   35363
SIC Industry Group Name                             35363
CUSIP Code                                          35363
Liquidation & Redemption Value of Redeem Pref S...  35365