In [1]:
import polars as pl
import os

from tqdm import tqdm
import eikon as ek

ek.set_app_key("fd36c20b01ed4ad6b3248805ae5031749349e3c9")

In [3]:
from source.refinitiv import EikonHelper

eikon_helper = EikonHelper(cell_limit=1_000)
eikon_helper.extract()

=======================================
Cell limit: 1000
Instrument limit: 0
Tickers retrieved: 2/62472
Batches remaining: 0
=======================================

0it [00:00, ?it/s]

In [4]:
import polars as pl
import pandas as pd

In [6]:
df = pd.read_parquet("assets\Eikon\data.parquet", dtype_backend="numpy_nullable")
df

,Instrument,TR.ANALYTICENVEXPENDITURES.DATE,TR.DPSACTVALUE.DATE,TR.F.STDEBTCURRPORTOFLTDEBT.DATE,TR.F.EPSBASICEXCLEXORDITEMSCOMTOT.DATE,TR.CO2ESTIMATIONMETHOD,TR.F.SALEOFTANGINTANGFIXEDASSETSGL,TR.F.LIQUIDREDEMPVALUEOFREDEEMPREFSTOCKEQ.DATE,TR.NONHAZARDOUSWASTE.DATE,TR.NOXSOXEMISSIONSREDUCTION,...,TR.F.PREFSTOCKREDEEMTOT,TR.RENEWENERGYPURCHASED,TR.F.CAPEXTOT,TR.WATERWITHDRAWALTOTAL.DATE,TR.F.CASHSTINVSTTOT.DATE,TR.ANALYTICENVCONTROV.DATE,TR.ELECTRICITYPURCHASED.DATE,TR.F.EBITDA.DATE,TR.WASTERECYCLINGRATIO,TR.F.OPPROFBEFNONRECURINCEXPN
0,AAPL.OQ,2021-09-25,2023-11-02 16:30:00,2023-09-30,2023-09-30,Reported,<NA>,NaT,2021-09-25,1,...,<NA>,751032,10959.0,2021-09-25,2023-09-30,2021-09-25,2021-09-30,2023-09-30,68.0,114301.0
1,AAPL.OQ,2020-09-26,2022-10-27 16:30:00,2022-09-24,2022-09-24,Reported,<NA>,NaT,2020-09-26,1,...,<NA>,758952,10708.0,2020-09-26,2022-09-24,2020-09-26,2020-09-30,2022-09-24,70.0,119437.0
2,AAPL.OQ,2019-09-28,2021-10-28 16:30:00,2021-09-25,2021-09-25,Reported,<NA>,NaT,2019-09-28,0,...,<NA>,781704,11085.0,2019-09-28,2021-09-25,2019-09-28,2019-09-30,2021-09-25,66.0,108949.0
3,AAPL.OQ,2018-09-29,2020-10-29 16:32:00,2020-09-26,2020-09-26,Reported,<NA>,NaT,2018-09-29,0,...,<NA>,815976,7309.0,2018-09-29,2020-09-26,2018-09-29,2018-09-30,2020-09-26,67.0,66288.0
4,AAPL.OQ,2017-09-30,2019-10-30 16:30:00,2019-09-28,2019-09-28,Reported,<NA>,NaT,2017-09-30,0,...,<NA>,695808,10495.0,2017-09-30,2019-09-28,2017-09-30,2017-09-30,2019-09-28,71.0,63930.0
5,AAPL.OQ,2016-09-24,2018-11-01 16:30:00,2018-09-29,2018-09-29,Reported,<NA>,NaT,2016-09-24,0,...,<NA>,<NA>,13313.0,2016-09-24,2018-09-29,2016-09-24,2016-09-30,2018-09-29,64.0,70898.0
6,AAPL.OQ,2015-09-26,2017-11-02 16:30:00,2017-09-30,2017-09-30,Reported,<NA>,NaT,2015-09-26,0,...,<NA>,<NA>,12451.0,2015-09-26,2017-09-30,2015-09-26,2015-09-30,2017-09-30,62.0,61344.0
7,AAPL.OQ,2014-09-27,2016-10-25 16:30:00,2016-09-24,2016-09-24,Reported,<NA>,NaT,2014-09-27,0,...,<NA>,<NA>,12734.0,2014-09-27,2016-09-24,2014-09-27,2014-09-30,2016-09-24,66.575,60024.0
8,AAPL.OQ,2013-09-28,2015-10-27 16:30:00,2015-09-26,2015-09-26,Reported,<NA>,NaT,2013-09-28,0,...,<NA>,<NA>,11488.0,2013-09-28,2015-09-26,2013-09-28,2013-09-30,2015-09-26,72.58,71230.0
9,AAPL.OQ,2012-09-29,2014-10-20 16:30:00,2014-09-27,2014-09-27,Reported,<NA>,NaT,2012-09-29,0,...,<NA>,<NA>,9813.0,2012-09-29,2014-09-27,2012-09-29,2012-09-30,2014-09-27,69.742,52503.0
10,AAPL.OQ,2011-09-24,2013-10-28 16:30:00,2013-09-28,2013-09-28,Reported,<NA>,NaT,2011-09-24,0,...,<NA>,194400,9076.0,2011-09-24,2013-09-28,2011-09-24,2011-09-24,2013-09-28,<NA>,48999.0
11,AAPL.OQ,2010-09-25,2012-10-25 16:30:00,2012-09-29,2012-09-29,Reported,<NA>,NaT,2010-09-25,0,...,<NA>,172800,9402.0,2010-09-25,2012-09-29,2010-09-25,2010-09-25,2012-09-29,<NA>,55241.0
12,AAPL.OQ,2009-09-26,2011-10-18 16:30:00,2011-09-24,2011-09-24,Reported,<NA>,NaT,2009-09-26,0,...,<NA>,136800,7452.0,2009-09-26,2011-09-24,2009-09-26,2009-09-26,2011-09-24,<NA>,33790.0
13,AAPL.OQ,2008-09-27,2010-10-18 16:30:00,2010-09-25,2010-09-25,Reported,<NA>,NaT,2008-09-27,0,...,<NA>,<NA>,2121.0,2008-09-27,2010-09-25,2008-09-27,2008-09-27,2010-09-25,<NA>,18385.0
14,AAPL.OQ,2007-09-29,2009-10-19 16:30:00,2009-09-26,2009-09-26,Reported,<NA>,NaT,2007-09-29,0,...,<NA>,<NA>,1213.0,2007-09-29,2009-09-26,2007-09-29,2007-09-29,2009-09-26,<NA>,11740.0
15,AAPL.OQ,2006-09-30,2008-10-21 16:40:00,2008-09-27,2008-09-27,Reported,<NA>,NaT,2006-09-30,0,...,<NA>,<NA>,1199.0,2006-09-30,2008-09-27,2006-09-30,2006-09-30,2008-09-27,<NA>,8327.0
16,AAPL.OQ,2005-09-24,2007-10-22 16:30:00,2007-09-29,2007-09-29,Median,<NA>,NaT,2005-09-30,0,...,<NA>,<NA>,986.0,2005-09-30,2007-09-29,2005-09-24,2005-09-30,2007-09-29,<NA>,4407.0
17,AAPL.OQ,2004-09-30,2006-10-18 16:30:00,2006-09-30,2006-09-30,,<NA>,NaT,2004-09-30,<NA>,...,<NA>,<NA>,657.0,2004-09-30,2006-09-30,2004-09-30,2004-09-30,2006-09-30,<NA>,2453.0
18,AAPL.OQ,2003-09-30,2005-10-11 16:30:00,2005-09-24,2005-09-24,,<NA>,NaT,2003-09-30,<NA>,...,<NA>,<NA>,260.0,2003-09-30,2005-09-24,2003-09-30,2003-09-30,2005-09-24,<NA>,1643.0
19,AAPL.OQ,2002-09-30,2004-10-13 19:23:00,2004-09-25,2004-09-25,,<NA>,NaT,2002-09-30,<NA>,...,<NA>,<NA>,176.0,2002-09-30,2004-09-25,2002-09-30,2002-09-30,2004-09-25,<NA>,336.0
20,AAPL.OQ,2001-09-30,2003-10-15 16:38:00,2003-09-27,2003-09-27,,<NA>,NaT,2001-09-30,<NA>,...,<NA>,<NA>,164.0,2001-09-30,2003-09-27,2001-09-30,2001-09-30,2003-09-27,<NA>,25.0
21,AAPL.OQ,2000-09-30,2002-10-16 15:31:00,2002-09-28,2002-09-28,,<NA>,NaT,2000-09-30,<NA>,...,<NA>,<NA>,174.0,2000-09-30,2002-09-28,2000-09-30,2000-09-30,2002-09-28,<NA>,48.0
22,AAPL.OQ,1999-09-30,2001-10-31 00:00:00,2001-09-29,2001-09-29,,<NA>,NaT,1999-09-30,<NA>,...,<NA>,<NA>,232.0,1999-09-30,2001-09-29,1999-09-30,1999-09-30,2001-09-29,<NA>,-333.0
23,AAPL.OQ,1998-09-30,2000-10-31 00:00:00,2000-09-30,2000-09-30,,<NA>,NaT,1998-09-30,<NA>,...,<NA>,<NA>,142.0,1998-09-30,2000-09-30,1998-09-30,1998-09-30,2000-09-30,<NA>,530.0
24,AAPL.OQ,1997-09-30,1999-10-31 00:00:00,1999-09-25,1999-09-25,,<NA>,NaT,1997-09-30,<NA>,...,<NA>,<NA>,71.0,1997-09-30,1999-09-25,1997-09-30,1997-09-30,1999-09-25,<NA>,386.0
25,AAPL.OQ,1996-09-30,1998-10-31 00:00:00,1998-09-25,1998-09-25,,<NA>,NaT,1996-09-30,<NA>,...,<NA>,<NA>,56.0,1996-09-30,1998-09-25,1996-09-30,1996-09-30,1998-09-25,<NA>,268.0
26,AMZN.OQ,NaT,2024-02-01 16:00:00,2023-12-31,2023-12-31,Reported,<NA>,NaT,NaT,0,...,<NA>,<NA>,52729.0,NaT,2023-12-31,2022-12-31,NaT,2023-12-31,<NA>,36913.0
27,AMZN.OQ,NaT,2023-02-02 16:01:00,2022-12-31,2022-12-31,Reported,<NA>,NaT,NaT,0,...,<NA>,<NA>,63645.0,NaT,2022-12-31,2021-12-31,NaT,2022-12-31,<NA>,13348.0
28,AMZN.OQ,NaT,2022-02-03 16:03:00,2021-12-31,2021-12-31,Reported,<NA>,NaT,NaT,0,...,<NA>,<NA>,61053.0,NaT,2021-12-31,2020-12-31,NaT,2021-12-31,<NA>,24879.0
29,AMZN.OQ,NaT,2021-02-02 16:03:00,2020-12-31,2020-12-31,Reported,<NA>,NaT,NaT,0,...,<NA>,<NA>,40140.0,NaT,2020-12-31,2019-12-31,NaT,2020-12-31,<NA>,34399.0
30,AMZN.OQ,NaT,2020-01-30 16:01:00,2019-12-31,2019-12-31,Reported,<NA>,NaT,NaT,0,...,<NA>,<NA>,16861.0,NaT,2019-12-31,2018-12-31,NaT,2019-12-31,<NA>,14541.0
31,AMZN.OQ,NaT,2019-01-31 16:01:00,2018-12-31,2018-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,13427.0,NaT,2018-12-31,2017-12-31,NaT,2018-12-31,<NA>,12421.0
32,AMZN.OQ,NaT,2018-02-01 16:04:00,2017-12-31,2017-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,11955.0,NaT,2017-12-31,2016-12-31,NaT,2017-12-31,<NA>,4106.0
33,AMZN.OQ,NaT,2017-02-02 16:01:00,2016-12-31,2016-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,7804.0,NaT,2016-12-31,2015-12-31,NaT,2016-12-31,<NA>,4186.0
34,AMZN.OQ,NaT,2016-01-28 16:01:00,2015-12-31,2015-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,5387.0,NaT,2015-12-31,2014-12-31,NaT,2015-12-31,<NA>,2233.0
35,AMZN.OQ,NaT,2015-01-29 16:01:00,2014-12-31,2014-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,4893.0,NaT,2014-12-31,2013-12-31,NaT,2014-12-31,<NA>,178.0
36,AMZN.OQ,NaT,2014-01-30 16:05:00,2013-12-31,2013-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,3444.0,NaT,2013-12-31,2012-12-31,NaT,2013-12-31,<NA>,745.0
37,AMZN.OQ,NaT,2013-01-29 16:00:00,2012-12-31,2012-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,3785.0,NaT,2012-12-31,2011-12-31,NaT,2012-12-31,<NA>,676.0
38,AMZN.OQ,NaT,2012-01-31 16:01:00,2011-12-31,2011-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,1811.0,NaT,2011-12-31,2010-12-31,NaT,2011-12-31,<NA>,862.0
39,AMZN.OQ,NaT,2011-01-27 16:06:00,2010-12-31,2010-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,979.0,NaT,2010-12-31,2009-12-31,NaT,2010-12-31,<NA>,1406.0
40,AMZN.OQ,NaT,2010-01-28 16:08:00,2009-12-31,2009-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,373.0,NaT,2009-12-31,2008-12-31,NaT,2009-12-31,<NA>,1129.0
41,AMZN.OQ,NaT,2009-01-29 16:10:00,2008-12-31,2008-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,333.0,NaT,2008-12-31,2007-12-31,NaT,2008-12-31,<NA>,841.0
42,AMZN.OQ,NaT,2008-01-30 16:01:00,2007-12-31,2007-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,224.0,NaT,2007-12-31,2006-12-31,NaT,2007-12-31,<NA>,654.0
43,AMZN.OQ,NaT,2007-02-01 16:31:05,2006-12-31,2006-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,216.0,NaT,2006-12-31,2005-12-31,NaT,2006-12-31,<NA>,389.0
44,AMZN.OQ,NaT,2006-02-02 16:56:02,2005-12-31,2005-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,204.0,NaT,2005-12-31,2004-12-31,NaT,2005-12-31,<NA>,432.0
45,AMZN.OQ,NaT,2005-02-02 19:36:00,2004-12-31,2004-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,89.133,NaT,2004-12-31,2003-12-31,NaT,2004-12-31,<NA>,440.425
46,AMZN.OQ,NaT,2004-01-27 16:11:45,2003-12-31,2003-12-31,Median,<NA>,NaT,NaT,0,...,<NA>,<NA>,45.963,NaT,2003-12-31,2002-12-31,NaT,2003-12-31,<NA>,270.595
47,AMZN.OQ,NaT,2003-01-23 19:31:33,2002-12-31,2002-12-31,,<NA>,NaT,NaT,<NA>,...,<NA>,<NA>,39.163,NaT,2002-12-31,2001-12-31,NaT,2002-12-31,<NA>,64.124
48,AMZN.OQ,NaT,2002-01-22 06:57:00,2001-12-31,2001-12-31,,-2.141,NaT,NaT,<NA>,...,<NA>,<NA>,50.321,NaT,2001-12-31,2000-12-31,NaT,2001-12-31,<NA>,-230.672
49,AMZN.OQ,NaT,2001-01-30 17:19:00,2000-12-31,2000-12-31,,-142.639,NaT,NaT,<NA>,...,<NA>,<NA>,134.758,NaT,2000-12-31,1999-12-31,NaT,2000-12-31,<NA>,-663.569
50,AMZN.OQ,NaT,2000-01-31 00:00:00,1999-12-31,1999-12-31,,<NA>,NaT,NaT,<NA>,...,<NA>,<NA>,287.055,NaT,1999-12-31,1998-12-31,NaT,1999-12-31,<NA>,-597.683
51,AMZN.OQ,NaT,1999-01-31 00:00:00,1998-12-31,1998-12-31,,<NA>,NaT,NaT,<NA>,...,<NA>,<NA>,28.333,NaT,1998-12-31,1997-12-31,NaT,1998-12-31,<NA>,-105.52

In [ ]:
df.dtype

In [ ]:
df.dtypes.to_frame("dtypes").to_dict()

In [ ]:
import json

with open("dtypes.json", "w") as f:
    json.dump(df.dtypes.to_dict(), f, indent=4)

In [ ]:
df[df["TR.CO2DIRECTSCOPE1"].notna()]["TR.CO2DIRECTSCOPE1.DATE"].isna().sum()

In [ ]:
df1 = df[df["TR.EXCHANGECOUNTRY"].isin(["Indonesia", "Malaysia", "Singapore", "Thailand", "Vietnam", "Philippines"])]
df1 = df1.dropna(subset=["TR.CO2DIRECTSCOPE1"])[["Instrument", "TR.CO2DIRECTSCOPE1", "TR.CO2DIRECTSCOPE1.DATE"]]
df1

In [ ]:
df1[df1["TR.CO2DIRECTSCOPE1.DATE"].isna()]

In [ ]:
df1.to_csv("refinitiv_data_1.csv", index=False)

In [ ]:
df1["Instrument"].nunique()

In [ ]:
df2 = pd.read_excel("assets\metadata\misc\Refinitiv_Environmental_SEA 150125.xlsx", header=[0,1])
df2

In [ ]:
[c for c in df2.columns.levels[0].tolist() if "CO2" in c]

In [ ]:
df2[["Identifier (RIC)", "CO2 Equivalent Emissions Direct Scope 1 YoY\nIn the last 20 FY"]]