----
<img src="../../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Content - Fundamental and Reference
This notebook demonstrates how to retrieve Fundamental and Reference data.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help.

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../../Configuration"

## Some Imports to start with

In [2]:
import refinitiv.data as rd
from refinitiv.data.content import fundamental_and_reference
import datetime

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [3]:
rd.open_session()

## Retrieve data

### Simple requets
#### Get Revenue and GrossProfit for IBM.N and TRI.N

In [4]:
response = fundamental_and_reference.Definition(
    ["TRI.N", "IBM.N"],
    ["TR.Revenue", "TR.GrossProfit"]
).get_data()

response.data.df

  Instrument                 Date      Revenue Gross Profit
0      TRI.N  2020-12-31T00:00:00   5984000000   5656000000
1      IBM.N  2020-12-31T00:00:00  73620000000  35574000000

### Simple request with chain
#### Get Revenue and GrossProfit for all constituents of the chain

In [5]:
response = fundamental_and_reference.Definition(
    ["0#.DJI"],
    ["TR.Revenue", "TR.GrossProfit"]
).get_data()

response.data.df

   Instrument                 Date       Revenue  Gross Profit
0        GS.N  2020-12-31T00:00:00   56351000000   43272000000
1       NKE.N  2021-05-31T00:00:00   44538000000   19997000000
2     CSCO.OQ  2021-07-31T00:00:00   49818000000   31894000000
3       JPM.N                 <NA>          <NA>          <NA>
4       DIS.N  2021-10-02T00:00:00   67418000000   22287000000
5     INTC.OQ  2020-12-26T00:00:00   77867000000   43612000000
6       DOW.N  2020-12-31T00:00:00   38542000000    5213000000
7       MRK.N  2020-12-31T00:00:00   47994000000   34284000000
8       CVX.N  2020-12-31T00:00:00   94471000000   43983000000
9       AXP.N  2020-12-31T00:00:00   37030000000   26816000000
10       VZ.N  2020-12-31T00:00:00  128292000000   77091000000
11       HD.N  2021-01-31T00:00:00  132110000000   44853000000
12     WBA.OQ  2021-08-31T00:00:00  132509000000   28067000000
13      MCD.N  2020-12-31T00:00:00   19207800000    9752100000
14      UNH.N                 <NA>          <NA>          <NA>
15       KO.N  2020-12-31T00:00:00   33014000000   19581000000
16      JNJ.N  2021-01-03T00:00:00   82584000000   54257000000
17    MSFT.OQ  2021-06-30T00:00:00  168088000000  115856000000
18     HON.OQ  2020-12-31T00:00:00   32637000000   10468000000
19      CRM.N  2021-01-31T00:00:00   21252000000   15814000000
20       PG.N  2021-06-30T00:00:00   76118000000   39144000000
21      IBM.N  2020-12-31T00:00:00   73620000000   35574000000
22      MMM.N  2020-12-31T00:00:00   32184000000   15685000000
23    AAPL.OQ  2021-09-25T00:00:00  365817000000  152836000000
24      WMT.N  2021-01-31T00:00:00  559151000000  138836000000
25      CAT.N  2020-12-31T00:00:00   41748000000   12709000000
26    AMGN.OQ  2020-12-31T00:00:00   25424000000   19265000000
27        V.N  2021-09-30T00:00:00   24105000000   19135000000
28      TRV.N                 <NA>          <NA>          <NA>
29       BA.N  2020-12-31T00:00:00   58656000000   -5187000000

### Request with global parameters
#### Get Revenue and GrossProfit for GOOG.O and APPL.O with applied global parameters

In [6]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "AAPL.O"],
    ["TR.Revenue", "TR.GrossProfit"],
    {"SDate": "0CY", "Curn": "CAD"}
).get_data()

response.data.df

  Instrument                 Date       Revenue  Gross Profit
0     GOOG.O  2019-12-31T00:00:00  210187500200  116823354600
1     AAPL.O  2020-09-26T00:00:00  367410876000  140473110400

### Request with data item parameters
#### Get PriceTargetMean and LowPrice for GOOG.O and APPL.O with applied local parameters for each field

In [7]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "AAPL.O"],
    ["TR.PriceTargetMean(SDate:0CY)", "TR.LOWPRICE(SDate:0d)"]
).get_data()

response.data.df

  Instrument                 Date  Price Target - Mean  Low Price
0     GOOG.O  2020-12-31T00:00:00           1862.08333       <NA>
1     GOOG.O  2021-12-15T00:00:00                 <NA>    2854.11
2     AAPL.O  2020-12-28T00:00:00            128.55263       <NA>
3     AAPL.O  2021-12-15T00:00:00                 <NA>   172.3108

### Timeseries
#### Get timeseries data

In [8]:
response = fundamental_and_reference.Definition(
    ["GOOG.O", "MSFT.O", "FB.O", "AMZN.O", "TWTR.K"],
    ["TR.Revenue.date", "TR.Revenue", "TR.GrossProfit"],
    {"Scale": 6, "SDate": 0, "EDate": -3, "FRQ": "FY", "Curn": "EUR"}
).get_data()

response.data.df

,Instrument,Date,Date,Revenue,Gross Profit
0,GOOG.O,2020-12-31T00:00:00,2020-12-31T00:00:00,149453.1076,80074.546
1,GOOG.O,2019-12-31T00:00:00,2019-12-31T00:00:00,144386.15542,80250.60966
2,GOOG.O,2018-12-31T00:00:00,2018-12-31T00:00:00,119295.22248,67373.2584
3,GOOG.O,2017-12-31T00:00:00,2017-12-31T00:00:00,92409.83655,54411.39192
4,MSFT.O,2021-06-30T00:00:00,2021-06-30T00:00:00,141787.27064,97728.01168
5,MSFT.O,2020-06-30T00:00:00,2020-06-30T00:00:00,127339.12585,86311.73543
6,MSFT.O,2019-06-30T00:00:00,2019-06-30T00:00:00,110699.05338,72952.84278
7,MSFT.O,2018-06-30T00:00:00,2018-06-30T00:00:00,94461.5384,61633.67158
8,FB.O,2020-12-31T00:00:00,2020-12-31T00:00:00,70388.142,56720.7324
9,FB.O,2019-12-31T00:00:00,2019-12-31T00:00:00,63065.96582,51674.35962
10,FB.O,2018-12-31T00:00:00,2018-12-31T00:00:00,48686.26896,40529.45736
11,FB.O,2017-12-31T00:00:00,2017-12-31T00:00:00,33888.74733,29342.23839
12,AMZN.O,2020-12-31T00:00:00,2020-12-31T00:00:00,316109.2032,125077.4316
13,AMZN.O,2019-12-31T00:00:00,2019-12-31T00:00:00,250242.45532,102574.41116
14,AMZN.O,2018-12-31T00:00:00,2018-12-31T00:00:00,203058.83304,81725.93352
15,AMZN.O,2017-12-31T00:00:00,2017-12-31T00:00:00,148270.87626,54961.57452
16,TWTR.K,2020-12-31T00:00:00,2020-12-31T00:00:00,3042.9465612,1924.1480668
17,TWTR.K,2019-12-31T00:00:00,2019-12-31T00:00:00,3085.92902774,2071.62023328
18,TWTR.K,2018-12-31T00:00:00,2018-12-31T00:00:00,2652.69365928,1811.29347504
19,TWTR.K,2017-12-31T00:00:00,2017-12-31T00:00:00,2036.75847939,1318.81853577

### Close the session

In [9]:
rd.close_session()