----
<img src="../../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Content layer - Estimates - Summary KPI
This notebook demonstrates how to retrieve Estimates.

I/B/E/S (Institutional Brokers' Estimate System) delivers a complete suite of Estimates content with a global view and is the largest contributor base in the industry. RDP I/B/E/S Estimates API provides information about consensus and aggregates data(26 generic measures, 23 KPI measures), company guidance data and advanced analytics. With over 40 years of collection experience and extensive quality controls that include thousands of automated error checks and stringent manual analysis, RDP I/B/E/S gives the clients the content they need for superior insight, research and investment decision making.

The I/B/E/S database currently covers over 56,000 companies in 100 markets.
More than 900 firms contribute data to I/B/E/S, from the largest global houses to regional and local brokers, with US data back to 1976 and international data back to 1987.

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [1]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../../Configuration"

## Some Imports to start with

In [1]:
import refinitiv.data as rd
from refinitiv.data.content import estimates

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session("platform.rdp")

## Retrieve Data

### Summary KPI - Annual

In [3]:
response = estimates.view_summary_kpi.annual.Definition("BNPP.PA").get_data()
response.data.df

,Instrument,Period End Date,Financial Period Absolute,Financial Period Relative,Non Performing Loan - High,Non Performing Loan - Low,Non Performing Loan - Mean,Non Performing Loan - Median,Non Performing Loan - Num Inc Est,Non Performing Loan - Num of Est,Non Performing Loan - Std Dev,Core Tier 1 Capital Ratio - High,Core Tier 1 Capital Ratio - Low,Core Tier 1 Capital Ratio - Mean,Core Tier 1 Capital Ratio - Median,Core Tier 1 Capital Ratio - Num Inc Est,Core Tier 1 Capital Ratio - Num of Est,Core Tier 1 Capital Ratio - StdDev
0,BNPP.PA,2023-12-31,FY2023,FY2,30000000000,0,20408600000,25817200000,4,4,12042915020,112687000000,98974000000,105880250000,106720500000,8,8,4322333850
1,BNPP.PA,2022-12-31,FY2022,FY1,29000000000,0,20207000000,25914000000,4,4,11835438040,105882000000,95378000000,102052125000,103331000000,8,8,3222233020
2,BNPP.PA,2021-12-31,FY2021,FY0,30372000000,24465000000,28279000000,30000000000,3,4,2701177890,102522000000,92509000000,97418714290,99287000000,7,8,4072981070
3,BNPP.PA,2020-12-31,FY2020,FY-1,30086000000,23331000000,27805666670,30000000000,3,4,3164261930,99033000000,87630000000,94676833330,96721500000,6,6,4288460460

### Summary KPI - Historical snapshots KPI

In [4]:
response = estimates.view_summary_kpi.historical_snapshots_kpi.Definition("BNPP.PA").get_data()
response.data.df

,Instrument,Period End Date,Financial Period Absolute,Financial Period Relative,Tier 1 Capital Ratio -Current,Tier 1 Capital Ratio - 1 Week Ago,Tier 1 Capital Ratio - 1 Month Ago,Tier 1 Capital Ratio - 2 Months Ago,Tier 1 Capital Ratio - 3 Months Ago,Tier 1 Capital Ratio - 4 Months Ago,...,Non-Performing Loans - 3 Months Ago,Non-Performing Loans - 4 Months Ago,Non-Performing Loans - 5 Months Ago,Non-Performing Loans - 6 Months Ago,Non-Performing Loans - 7 Months Ago,Non-Performing Loans - 8 Months Ago,Non-Performing Loans - 9 Months Ago,Non-Performing Loans - 10 Months Ago,Non-Performing Loans - 11 Months Ago,Non-Performing Loans - 12 Months Ago
0,BNPP.PA,2022-12-31,FY2022,FY1,13.74,13.74,13.59455,13.10333,13.18546,13.18546,...,21351500000,21351500000,21351500000,21351500000,21351500000,21351500000,21101500000,21101500000,21101500000,21368750000
1,BNPP.PA,2023-12-31,FY2023,FY2,13.97,13.97,13.81,13.18182,13.22,13.22,...,21559600000,21559600000,21559600000,21309600000,21309600000,21309600000,21309600000,21309600000,21309600000,30982000000

### Summary KPI - Interim

In [5]:
response = estimates.view_summary_kpi.interim.Definition("BNPP.PA").get_data()
response.data.df

,Instrument,Period End Date,Financial Period Absolute,Financial Period Relative,Advertisement Revenue - High
0,BNPP.PA,2022-12-31,FY2022Q4,FQ4,<NA>
1,BNPP.PA,2022-09-30,FY2022Q3,FQ3,<NA>
2,BNPP.PA,2022-06-30,FY2022Q2,FQ2,<NA>
3,BNPP.PA,2022-03-31,FY2022Q1,FQ1,<NA>
4,BNPP.PA,2021-12-31,FY2021Q4,FQ0,<NA>
5,BNPP.PA,2021-09-30,FY2021Q3,FQ-1,<NA>
6,BNPP.PA,2021-06-30,FY2021Q2,FQ-2,<NA>

### Close the session

In [6]:
rd.close_session()