----
<img src="../../files/refinitiv.png" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Pricing Stream Recorder
This notebook demonstrates how to use the pricing recorder to record a history of streaming data and generate Open High Low Close bars.

#### About the record() method
The **record()** method allows you record data events received by a PricingStream object. Received data can be used to automatically generate OHLC bars stored by the recorder.

***record()*** parameters: 
- ***frequency***: Frequency used to generate OHLC bars
    - Type: String
    - Optional: Yes  
- ***duration***: Recording duration. Can be provided in seconds, minutes, hours
    - Type: String
    - Optional: Yes  
- ***ticks_per_bar***: Number of ticks to record for Tick Bars recording 
    - Type: String
    - Optional: Yes  
- ***on_data***: Callback function called when a new tick is received or when a new bar is calculated
    - Type: Function
    - Optional: Yes

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/learning), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/docs)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Set the configuration file location
For a better ease of use, you have the option to set initialization parameters of the Refinitiv Data Library in the _refinitiv-data.config.json_ configuration file. This file must be located beside your notebook, in your user folder or in a folder defined by the _RD_LIB_CONFIG_PATH_ environment variable. The _RD_LIB_CONFIG_PATH_ environment variable is the option used by this series of examples. The following code sets this environment variable.

In [19]:
import os
os.environ["RD_LIB_CONFIG_PATH"] = "../../Configuration"

## Some Imports to start with

In [27]:
import refinitiv.data as rd
import datetime
from IPython.display import display, clear_output

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [28]:
rd.open_session()

## Retrieve data

### Record ticks

#### Create and open a Pricing stream

In [29]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

In [30]:
stream.recorder.record(frequency='tick')

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [31]:
stream.recorder.stop()
tick_history = stream.recorder.get_history()
display(tick_history)

                              EUR=            GBP=            JPY=
                               BID     ASK     BID     ASK     BID     ASK
Timestamp
2022-04-06 09:51:06.992352    <NA>    <NA>  1.3065  1.3073    <NA>    <NA>
2022-04-06 09:51:07.117399    <NA>    <NA>    <NA>    <NA>  123.85  123.86
2022-04-06 09:51:07.117931  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:07.266327    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:07.370310    <NA>    <NA>    <NA>    <NA>  123.85  123.86
2022-04-06 09:51:08.135952    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:08.136825  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:08.137607    <NA>    <NA>    <NA>    <NA>  123.84  123.87
2022-04-06 09:51:09.188348    <NA>    <NA>    <NA>    <NA>  123.85  123.88
2022-04-06 09:51:09.374123  1.0894  1.0895    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:09.429889    <NA>    <NA>    <NA>    <NA>  123.86  123.87
2022-04-06 09:51:09.787422    <NA>    <NA>    <NA>    <NA>  123.84  123.89
2022-04-06 09:51:10.082099    <NA>    <NA>    <NA>    <NA>  123.85  123.86
2022-04-06 09:51:10.155077    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:10.155472  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:10.361769    <NA>    <NA>    <NA>    <NA>  123.86  123.89
2022-04-06 09:51:11.158132  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:11.158744    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:11.181274    <NA>    <NA>    <NA>    <NA>  123.85  123.88
2022-04-06 09:51:11.436907  1.0894  1.0895    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:11.758030    <NA>    <NA>    <NA>    <NA>  123.85   123.9
2022-04-06 09:51:12.161178    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:12.161706  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:12.420921    <NA>    <NA>    <NA>    <NA>  123.86  123.87
2022-04-06 09:51:13.193375  1.0892  1.0896    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:13.193554    <NA>    <NA>    <NA>    <NA>  123.86  123.89
2022-04-06 09:51:14.186887  1.0893  1.0897    <NA>    <NA>    <NA>    <NA>
2022-04-06 09:51:14.187412    <NA>    <NA>  1.3068  1.3072    <NA>    <NA>
2022-04-06 09:51:14.663303    <NA>    <NA>    <NA>    <NA>  123.84  123.89

#### Resample the tick history to 5 seconds bars

In [32]:
tick_history.ohlc("5s")

                       EUR=                                                  \
                        BID                             ASK
                       open    high     low   close    open    high     low
Timestamp
2022-04-06 09:51:05  1.0893  1.0894  1.0893  1.0894  1.0897  1.0897  1.0895
2022-04-06 09:51:10  1.0894  1.0894  1.0892  1.0893  1.0895  1.0897  1.0895

                               GBP=          ...                    JPY=  \
                                BID          ...     ASK             BID
                      close    open    high  ...     low   close    open
Timestamp                                    ...
2022-04-06 09:51:05  1.0895  1.3065  1.3068  ...  1.3072  1.3072  123.85
2022-04-06 09:51:10  1.0897  1.3068  1.3068  ...  1.3072  1.3072  123.85


                                                ASK
                       high     low   close    open    high     low   close
Timestamp
2022-04-06 09:51:05  123.86  123.84  123.84  123.86  123.89  123.86  123.89
2022-04-06 09:51:10  123.86  123.84  123.84  123.86  123.90  123.86  123.89

[2 rows x 24 columns]

#### Close the stream

In [33]:
stream.close()

### Record OHLC bars for a given duration

#### Create and open a Pricing stream

In [34]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Start recording

Start recording 2 seconds OHLC bars for a duration of 10 seconds

In [35]:
stream.recorder.record(frequency='2s', duration='10s')

#### Display the recorded history

In [36]:
stream.recorder.get_history()

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-06 09:51:27.442362  1.0898  1.0898  1.0898  1.0898  1.0894  1.0894
2022-04-06 09:51:29.467183  1.0898  1.0898  1.0898  1.0898  1.0894  1.0894
2022-04-06 09:51:31.492628  1.0896  1.0898  1.0896  1.0896  1.0895  1.0895
2022-04-06 09:51:33.518779  1.0896  1.0897  1.0896  1.0896  1.0895  1.0895
2022-04-06 09:51:35.540947  1.0897  1.0897  1.0896  1.0896  1.0893  1.0895

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low    open   close    high  ...    open
Timestamp                                                   ...
2022-04-06 09:51:27.442362  1.0894  1.0894  1.3074  1.3074  ...  1.3065
2022-04-06 09:51:29.467183  1.0894  1.0894  1.3072  1.3072  ...  1.3068
2022-04-06 09:51:31.492628  1.0893  1.0895  1.3072  1.3072  ...  1.3068
2022-04-06 09:51:33.518779  1.0893  1.0894  1.3072  1.3072  ...  1.3068
2022-04-06 09:51:35.540947  1.0893  1.0895    <NA>    <NA>  ...    <NA>

                              JPY=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-06 09:51:27.442362  123.87  123.90  123.87  123.90  123.86  123.86
2022-04-06 09:51:29.467183  123.87  123.87  123.87  123.87  123.86  123.86
2022-04-06 09:51:31.492628  123.90  123.90  123.88  123.88  123.86  123.86
2022-04-06 09:51:33.518779  123.87  123.88  123.87  123.88  123.86  123.86
2022-04-06 09:51:35.540947  123.88  123.88  123.88  123.88  123.85  123.85

                                           ticks count

                               low    open
Timestamp
2022-04-06 09:51:27.442362  123.86  123.86           4
2022-04-06 09:51:29.467183  123.86  123.86           6
2022-04-06 09:51:31.492628  123.85  123.85           8
2022-04-06 09:51:33.518779  123.85  123.85           7
2022-04-06 09:51:35.540947  123.85  123.85           3

[5 rows x 25 columns]

#### Close the stream

In [37]:
stream.close()

### Record OHLC bars with events

#### Create and open a Pricing stream

In [38]:
stream = rd.open_pricing_stream(
    universe=['GBP=', 'EUR=', 'JPY='],
    fields=['BID', 'ASK']
)

#### Define a callback to receive new bars

In [39]:
def print_history(bar, recorder):
    clear_output(wait=True)
    current_time = datetime.datetime.now().time()
    print("New bar received at", current_time)
    display(bar)

#### Start recording

Start recording 5 seconds OHLC bars

In [40]:
stream.recorder.record(frequency='5s', on_data=print_history)

New bar received at 09:52:09.192136

                              GBP=                                         \
                               BID                            ASK
                              open    high     low   close   open    high
Timestamp
2022-04-06 09:52:09.174436  1.3066  1.3068  1.3065  1.3066  1.307  1.3072

                                             JPY=          ...          \
                                              BID          ...     ASK
                               low  close    open    high  ...   close
Timestamp                                                  ...
2022-04-06 09:52:09.174436  1.3069  1.307  123.86  123.86  ...  123.88

                              EUR=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2022-04-06 09:52:09.174436  1.0891  1.0894  1.0891  1.0893  1.0895  1.0895

                                           ticks count

                               low   close
Timestamp
2022-04-06 09:52:09.174436  1.0894  1.0894          16

[1 rows x 25 columns]

... Wait for a little while (20 to 30 seconds) ...

#### Stop recording and display the recorded history

In [41]:
stream.recorder.stop()
stream.recorder.get_history()

New bar received at 09:52:09.646821

                              EUR=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-06 09:51:54.103982  1.0898  1.0898  1.0897  1.0897  1.0894  1.0895
2022-04-06 09:51:59.125834  1.0896  1.0898  1.0895  1.0898  1.0895  1.0895
2022-04-06 09:52:04.148293  1.0897  1.0897  1.0895  1.0896  1.0893  1.0894
2022-04-06 09:52:09.174436  1.0894  1.0895  1.0894  1.0895  1.0893  1.0894
2022-04-06 09:52:09.600084    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>

                                              GBP=          ...          \
                                               ASK          ...     BID
                               low    open   close    high  ...    open
Timestamp                                                   ...
2022-04-06 09:51:54.103982  1.0894  1.0895  1.3072  1.3072  ...  1.3068
2022-04-06 09:51:59.125834  1.0892  1.0894  1.3072  1.3072  ...  1.3068
2022-04-06 09:52:04.148293  1.0892  1.0894  1.3071  1.3072  ...  1.3067
2022-04-06 09:52:09.174436  1.0891  1.0891  1.3070  1.3072  ...  1.3066
2022-04-06 09:52:09.600084    <NA>    <NA>  1.3071  1.3071  ...  1.3067

                              JPY=                                          \
                               ASK                             BID
                             close    high     low    open   close    high
Timestamp
2022-04-06 09:51:54.103982  123.88  123.91  123.88  123.89  123.87  123.87
2022-04-06 09:51:59.125834  123.88   123.9  123.88   123.9  123.87  123.87
2022-04-06 09:52:04.148293  123.89  123.89  123.88  123.88  123.86  123.87
2022-04-06 09:52:09.174436  123.88  123.89  123.88  123.89  123.85  123.86
2022-04-06 09:52:09.600084    <NA>    <NA>    <NA>    <NA>    <NA>    <NA>

                                           ticks count

                               low    open
Timestamp
2022-04-06 09:51:54.103982  123.86  123.86          15
2022-04-06 09:51:59.125834  123.85  123.85          19
2022-04-06 09:52:04.148293  123.85  123.87          15
2022-04-06 09:52:09.174436  123.85  123.86          16
2022-04-06 09:52:09.600084    <NA>    <NA>           1

[5 rows x 25 columns]

                              GBP=                                          \
                               BID                             ASK
                              open    high     low   close    open    high
Timestamp
2022-04-06 09:52:09.600084  1.3067  1.3067  1.3067  1.3067  1.3071  1.3071

                                           ticks count

                               low   close
Timestamp
2022-04-06 09:52:09.600084  1.3071  1.3071           1

#### Delete history

In [20]:
stream.recorder.delete()
stream.recorder.get_history()

Empty DataFrame
Columns: []
Index: []

#### Close the stream

In [42]:
stream.close()

### Close the session

In [44]:
rd.close_session()